<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.elmspring.dao.OrderDao">
    <resultMap id="orderFood" type="com.example.elmspring.dto.BusInfoFoodDto">
        <result property="id" column="id"></result>
        <result property="name" column="name"></result>
        <result property="explain" column="fexplain"></result>
        <result property="img" column="img"></result>
        <result property="price" column="price"></result>
        <result property="number" column="quantity"></result>
    </resultMap>
    <insert id="saveOrder" parameterType="com.example.elmspring.model.Order" >
        insert into orderform (foodId,quantity,userId) values(#{foodId},#{quantity},#{userId})
    </insert>

    <select id="findOrder" parameterType="String" resultMap="orderFood">
        select f.id as id, name, f.explain as fexplain, img, price, quantity from  food f ,orderform o
        where f.id=o.foodId and userId =#{userId}
    </select>

    <delete id="removeOrder" parameterType="String">
        delete from orderform where userId=#{userId}
    </delete>
</mapper>